* {
  box-sizing: border-box;
}

.App {
  margin: 20px auto 0;
  width: 400px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  box-shadow: 0 8px 20px 2px rgba(51, 51, 51, 0.2);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header > img {
  width: 25px;
  margin-right: 22px;
}

.Header > input {
  width: 100%;
  font-size: 24px;
  color: rgba(51, 51, 51, 0.8);
  border: none;
}

.Header > input:focus {
  outline: none;
}

.Header {
  padding: 20px 22px;
  display: flex;
  align-items: center;
}

.Footer {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.filter {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.filter_btn {
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  margin: 0 5px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 14px;
}

.filter_btn:hover {
  border: 1px solid rgba(51, 51, 51, 0.8);
}

.filter_btn--selected {
  outline: none;
  border-color: rgba(51, 51, 51, 0.8);
}
